* {
    box-sizing: border-box;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:darkslategray;
}

h1 {
    color: white;
    font-size: 30px;
}

h2 {
    font-size: 27px;
}

p, div, pre {
    font-size: 18px;
}

input {
    font-size: 18px;
}

button {
    font-size: 18px;
    color: white;
    background-color: darkslategray;
    padding: 4px;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 8px;
}

.exercici {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto;
}